---
import { Icon } from "astro-icon/components";

interface SocialLink {
	friendlyName: string;
	isWebmention?: boolean;
	link: string;
	name: string;
	type?: "social" | "friend";
}

const socialLinks: SocialLink[] = [
  {
		friendlyName: "gmail",
		link: "mailto:faust@linux.do", 
		name: "gmail",
		type: "social",
	},
	{
		friendlyName: "Github",
		link: "https://github.com/fiat24",
		name: "mdi:github",
		type: "social",
	},

	{
		friendlyName: "Nodeseek",
		link: "https://www.nodeseek.com/space/24280",
		name: "nodeseek",
		type: "social",
	},
	{
		friendlyName: "linux.do",
		link: "https://linux.do/u/faust6312",
		name: "linux.do",
		type: "social",
	},
];

const friendLinks: SocialLink[] = [
	{
		friendlyName: "f7",
		link: "https://chrivs.com/",
		name: "f7",
		type: "friend",
	},
	{
		friendlyName: "f6",
		link: "https://blog.shiyaa.me/",
		name: "f6",
		type: "friend",
	},
	{
		friendlyName: "f5",
		link: "https://blog.noospic.me/",
		name: "f5",
		type: "friend",
	},
	{
		friendlyName: "f4",
		link: "https://blog.wrihope.top/",
		name: "f4",
		type: "friend",
	},
	{
		friendlyName: "f2",
		link: "https://blog.keepchen.com",
		name: "f2",
		type: "friend",
	},
	{
		friendlyName: "f1",
		link: "https://www.cloudofficial.top",
		name: "f1",
		type: "friend",
	},

	{
		friendlyName: "cnblog",
		link: "https://www.cnblogs.com/faust6312",
		name: "logo",
		type: "friend",
	},
];

const { mode = "all" } = Astro.props;
---

<div class="flex flex-col gap-y-4">
	{
		(mode === "all" || mode === "social") && (
			<div class="flex flex-wrap items-center gap-x-2">
				<ul class="flex flex-1 items-center gap-x-2 sm:flex-initial">
					{socialLinks.map(({ friendlyName, isWebmention, link, name }) => (
						<li class="flex h-8 w-8 items-center justify-center">
							<a
								class="inline-block h-full w-full sm:hover:text-accent transition-colors"
								href={link}
								rel={`noreferrer ${isWebmention ? "me authn" : ""}`}
								target="_blank"
							>
								<Icon
									aria-hidden="true"
									class="h-full w-full"
									focusable="false"
									name={name}
									mode="inline"
								/>
								<span class="sr-only">{friendlyName}</span>
							</a>
						</li>
					))}
				</ul>
			</div>
		)
	}

	{
		(mode === "all" || mode === "friend") && friendLinks.length > 0 && (
			<div class="flex flex-wrap items-center gap-x-2">
				<p class="sr-only">Friend Links</p>
				<ul class="flex flex-1 flex-wrap items-center gap-2 sm:flex-initial">
					{friendLinks.map(({ friendlyName, isWebmention, link, name }) => (
						<li class="flex h-8 w-8 items-center justify-center">
							<a
								class="inline-block h-full w-full sm:hover:text-accent transition-colors"
								href={link}
								rel={`noreferrer ${isWebmention ? "me authn" : ""}`}
								target="_blank"
							>
								<img
									src={`/icons/${name}.svg`}
									alt={friendlyName}
									class="h-full w-full object-contain"
									loading="lazy"
									draggable="false"
								/>
								<span class="sr-only">{friendlyName}</span>
							</a>
						</li>
					))}
				</ul>
			</div>
		)
	}
</div>
